/*--------- MEDIA ---------*/
@media (max-width: 1125px) {
    h1 {
        font-size: 60px !important;
    }
    h2 {
        font-size: 35px !important;
    }
    /*-----RECIPES-----*/
    #ingredients {
        width: 600px !important;
    }
}

@media (max-width: 900px) {
    nav {
        justify-content: center !important;
    }
    .search-bar {
        width: 136px !important;
        font-size: 12px !important;
    }
    #magnifying-glass {
        height: 20px;
        width: 21px;
        top: 2px !important;
}
    #logo img {
        max-width: 150px !important;
        margin-right: 10px !important;
    }
}

@media (max-width: 700px) {
    h1 {
        font-size: 40px !important;
    }
    h2 {
        font-size: 25px !important;
    }
    p {
        font-size: 18px !important;
    }
    li {
        font-size: 16px !important;
    }
    nav {
        flex-direction: row;
    }
    #socials p, #socials .home-button, #socials .favorites, #search input, #search button {
        display: none !important;
    }
    #explore-button {
        margin-bottom: 6px;
        display: contents !important;
    }
    /*-----INDEX.HTML-----*/
    #welcome-top {
        flex-direction: column !important;
        text-align: center !important;
    }
    .welcome-text img {
        max-width: 300px !important;
    }
    .welcome-img {
        height: 300px !important;
        width: 300px !important;
        object-fit: cover;
    }
    /*-----RECIPES-----*/
    .food-gallery img {
        max-width: 300px !important;
    }
}

/* -------------------------*/
/* ---------- ROOT ---------*/
/* -------------------------*/
:root {
    --background-color: #ffffff;
}
/* FONT STYLING */
h1 {
    text-align: center;
    margin: 10px auto 30px auto;
    font-size: 72px;
}
h2 {
    text-align: center;
    font-weight: bold;
    font-size: 45px;
    margin-bottom: 2px;
    text-decoration: underline;
    margin-top: 10px;
}
p, a {
    font-size: 23px;
}
li {
    font-size: 21px;
}
/* --------------------------------- */
/* --------CONTAINER STYLING-------- */
/* --------------------------------- */
html {
    scroll-behavior: smooth;
}
body {
    margin: 0;
    padding: 0;
    background: var(--background-color);
    color: black;
    font-family:Arial, Helvetica, sans-serif;
    width: 100%;
}
header {
    width: 100%;
    padding: 0;
}
nav {
    width: 100%;
    background: var(--background-color);
    font-size: 28px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    position: fixed;
    top: 0;
}
main {
    margin-top: 100px;
    margin-left: 20px;
    margin-right: 20px;
}
.box-shadow {
    box-shadow: 4px 3px 8px 1px gray;
}
/* --------------------------------- */
/* ------------NAV STYLING-----------*/
/* --------------------------------- */
#logo img {
    height: auto;
    max-width: 200px;
    margin-top: 4px;
    margin-left: 10px;
}
#search {
    margin: 0;
    position: relative;
    display: flex;
    flex-wrap: nowrap;
}
#explore-button {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    display: none;
}
.line {
    display: block;
    border: 2px solid gray;
    border-bottom: 0px;
    width: 20px;
    margin: 5px;
}
#search-bar {
    position: relative;
}
.search-bar[type=text] {
    padding: 0 50px 0 10px;
    margin-left: 5px;
}
.search-bar {
    font-size: 18px;
    color: black;
    border: 1px solid black;
    height: 30px;
    width: 300px;
    border-top-left-radius: 4em 5em;
    border-top-right-radius: 4em 5em;
    border-bottom-left-radius: 4em 5em;
    border-bottom-right-radius: 4em 5em;
}
button {
    background-color: transparent;
    border: none;
    position: absolute;
    display: flex;
    flex-wrap: nowrap;
    top: 6px;
    right: 8px;
    height: 16px;
    width: 16px;
}
button:hover {
    cursor: pointer;
}
#magnifying-glass {
    height: 24px;
    width: 25px;
    background-color: transparent;
    position: absolute;
    overflow: hidden;
    padding: 0;
    right: 0;
    top: 0;
}
.circle {
    background-color: transparent;
    border: 1px solid black;
    position: absolute;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    right: 0;
}
.handle {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 1px 1px 14px 1px;
    border-top-color: black;
    border-right-color: transparent;
    border-left-color: transparent;
    border-bottom-color: black;
    position: absolute;
    display: inline;
    margin-left: -9px;
    margin-top: 12px;
    transform: rotate(45deg);
}
#socials {
    display: inline-flex;
    padding: 0 10px;
    flex-wrap: nowrap;
    align-items: center;
}
#socials p {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 0 10px;
    font-weight: bold;
    color: gray;
}
#socials a {
    margin: 0 5px;
    color: gray;
    font-weight: bold;
    text-decoration: none;
}
#socials .home-button img {
    clip-path: circle(37%);
    height: 40px;
    width: 40px;
    object-fit: contain;
    margin: 0;
}
#socials .favorites img {
    height: 30px;
    width: 30px;
    object-fit: contain;
}
#socials .recipe {
    margin-left: 20px;
}
#socials a:hover {
    cursor: pointer;
}

/*----------------------------------*/
/*------------RECIPE PAGES----------*/
/*----------------------------------*/
.food-gallery {
    display: flex;
    justify-content: center;
    padding: 0 4px 20px 4px;
    width: 100%;
}
.food-gallery img {
    border-radius: 1em;
    width: 100%;
    height: auto;
    max-width: 500px;
}
#recipe-info {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}
hr {
    height: 50px;
    margin: 0 30px;
}
#recipe-details {
    display: flex;
    justify-content: center;
    max-width: 1100px;
    margin: 0 auto;
    flex-wrap: wrap;
}
#recipe-details strong {
    font-weight: bold;
    font-size: 18px;
    margin-left: -30px;
    text-decoration: underline;
}
.details-top {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    flex-wrap: wrap;
}
#ingredients {
    width: 400px;
    margin: 10px;
    border-radius: 1em;
    border: 1px solid white;
}
#ingredients li {
    padding: 4px 0;
}
#procedure {
    width: 600px;
    border-radius: 1em;
    border: 1px solid white;
    padding-right: 25px;
    margin: 10px;
}
#procedure li {
    padding: 5px 0;
}
#notes {
    max-width: 600px;
    border-radius: 1em;
    border: 1px solid white;
    padding-right: 10px;
    margin: 10px auto;
}
#notes li {
    padding: 5px 0;
}

/*--------------------------------*/
/*------------INDEX.HTML----------*/
/*--------------------------------*/
#welcome-hr {
    height: 0;
    width: 70%;
    margin: 40px auto;
    border: 1px solid gray;
}
#welcome-top {
    max-width: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 0 auto;
}
.welcome-text {
    margin-right: 50px;
}
.welcome-text p:first-of-type {
    color: #50db24;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 20px;
}
.welcome-text img {
    max-width: 500px;
    width: 100%;
    margin-left: 20px;
}
.welcome-text p:nth-of-type(2) {
    color: gray;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 0px;
}
.welcome-text p:nth-of-type(3) {
    color: gray;
    font-size: 20px;
    margin-top: 5px;
}
.welcome-img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}
#welcome-bottom {
    width: 100%;
    max-width: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    margin: 0 auto;
}
.gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0 5px;
    max-width: 100%;
    margin: 10px auto;
    text-align: center;
    justify-content: center;
}
.gallery div {
    width: 200px;
    margin: 0 10px;
}
.gallery div img {
    max-width: 200px;
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
}
.gallery div p {
    font-size: 20px;
}