/*--------- MEDIA ---------*/
@media (max-width: 1125px) {
    #ingredients {
        width: 600px !important;
    }

    h1 {
        font-size: 60px !important;
    }

    h2 {
        font-size: 35px !important;
    }

    nav {
        flex-direction: column;
        padding-top: 10px;
    }

    .food-gallery {
        margin-top: 200px !important;
    }
}

@media (max-width: 600px) {
    h1 {
        font-size: 40px !important;
    }

    h2 {
        font-size: 25px !important;
    }

    p {
        font-size: 18px !important;
    }

    li {
        font-size: 16px !important;
    }

    #search {
        display: none !important;
    }

    .food-gallery {
        margin-top: 150px !important;
    }

    .food-gallery img {
        max-width: 300px !important;
    }

    h1 {
        font-size: 25px !important;
    }

    h2 {
        font-size: 25px !important;
    }

    p {
        font-size: 14px !important;
    }

    li {
        font-size: 16px !important;
    }
}

/* ---------- ROOT ---------*/
:root {
    --background-color: #ffffff;
}


/* FONT STYLING */
h1 {
    text-align: center;
    margin: 10px auto 30px auto;
    font-size: 72px;
}

h2 {
    text-align: center;
    font-weight: bold;
    font-size: 45px;
    margin-bottom: 2px;
    text-decoration: underline;
    margin-top: 10px;
}

p {
    font-size: 23px;
}

li {
    font-size: 21px;
}


/* --------CONTAINER STYLING-------- */
html {
    scroll-behavior: smooth;
}
body {
    margin: 0;
    padding: 0;
    background: var(--background-color);
    color: black;
    font-family:Arial, Helvetica, sans-serif;
    width: 100%;
}

header {
    width: 100%;
    padding: 0;
}

nav {
    width: 100%;
    background: var(--background-color);
    font-size: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    position: fixed;
    top: 0;
}

main {
    margin-top: 100px;
    margin-left: 20px;
    margin-right: 20px;
}

.box-shadow {
    box-shadow: 4px 3px 8px 1px gray;
}

/* ---------NAV STYLING----------*/

#search {
    margin: 0;
    position: relative;
    display: flex;
    flex-wrap: nowrap;
}

#search p {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 0 10px 0 2px;
    font-weight: bold;
    color: gray;
}

#explore-button {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
}

.line {
    display: block;
    border: 2px solid gray;
    border-bottom: 0px;
    width: 20px;
    margin: 5px;
}

.search-bar[type=text] {
    padding: 0 50px 0 10px;
}

.search-bar {
    font-size: 18px;
    color: black;
    border: 1px solid black;
    height: 30px;
    width: 300px;
    border-top-left-radius: 4em 5em;
    border-top-right-radius: 4em 5em;
    border-bottom-left-radius: 4em 5em;
    border-bottom-right-radius: 4em 5em;
}

.search-bar[type=text] {
    margin-left: 5px;
}

button {
    background-color: transparent;
    border: none;
    position: absolute;
    display: flex;
    flex-wrap: nowrap;
    top: 6px;
    right: 8px;
    height: 16px;
    width: 16px;
}

button:hover {
    cursor: pointer;
}

#magnifying-glass {
    height: 24px;
    width: 25px;
    background-color: white;
    position: absolute;
    overflow: hidden;
    padding: 0;
    right: -1px;
    top: -1px;
}

.circle {
    background-color: transparent;
    border: 1px solid black;
    position: absolute;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    right: 0;
}

.handle {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 1px 1px 14px 1px;
    border-top-color: black;
    border-right-color: transparent;
    border-left-color: transparent;
    border-bottom-color: black;
    position: absolute;
    display: inline;
    margin-left: -9px;
    margin-top: 12px;
    transform: rotate(45deg);
}

#socials {
    display: inline-flex;
    padding: 0 10px;
    flex-wrap: nowrap;
    align-items: center;
}

#socials a {
    margin: 0 5px;
    color: white;
    text-decoration: none;
}

#socials .home-button img {
    clip-path: circle(37%);
    height: 40px;
    width: 40px;
    object-fit: contain;
    margin: 0 20px 0 0;
}

#socials .favorites img {
    height: 30px;
    width: 30px;
    object-fit: contain;
}

#socials .facebook img {
    clip-path: circle(22%);
    width: 70px;
    height: 70px;
    object-fit: contain;
}

#socials .instagram img {
    width: 45px;
    height: 35px;
    object-fit: contain;
    clip-path: circle(40%);
}

#socials a:hover {
    cursor: pointer;
}

/*------------END NAV------------*/

.food-gallery {
    display: flex;
    justify-content: center;
    padding: 20px 4px;
    width: 100%;
}

.food-gallery img {
    border-radius: 1em;
    width: 100%;
    height: auto;
    max-width: 500px;
}

#recipe-info {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}

hr {
    height: 50px;
    margin: 0 30px;
}

#recipe-details {
    display: flex;
    justify-content: center;
    max-width: 1100px;
    margin: 0 auto;
    flex-wrap: wrap;
}

.details-top {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    flex-wrap: wrap;
}

#ingredients {
    width: 400px;
    margin: 10px;
    border-radius: 1em;
    border: 1px solid white;
}

#ingredients li {
    padding: 4px 0;
}

#procedure {
    width: 600px;
    border-radius: 1em;
    border: 1px solid white;
    padding-right: 25px;
    margin: 10px;
}

#procedure li {
    padding: 5px 0;
}

#notes {
    max-width: 600px;
    border-radius: 1em;
    border: 1px solid white;
    padding-right: 10px;
    margin: 10px auto;
}

#notes li {
    padding: 5px 0;
}